main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    width: 70%;
}
main section {
    margin: 2em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    outline: none;
    border-radius: 50px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.inner-container {
    text-align: center;
    aspect-ratio: 1 / 1;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.inner-container img {
    max-width: 100%;
    margin: 0.1em;
    max-height: 100%;
}
.inner-container p {
    margin: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
}
.about .inner-container {
    width: 12em;
}
.skills .inner-container {
    width: 10em;
}
.introduction {
    margin: 0.5em;
}
.introduction p {
    font-size: 1.2em;
    text-align: justify;
}
.bigger-font {
    font-size: 1.5em;
    font-weight: bold;
}
.image-text h1 {
    font-size: 4vw;
    font-weight: bold;
    margin: 0;
}
.image-text p {
    font-size: 1.5em;
    margin: 0;
}
.image-text a {
    margin-top: 3%;
    padding: 1.2em;
    color: white;
    border: medium solid white;
    font-size: 1.3em;
    font-weight: 500;
}
.objective {
    text-align: center;
}
.objective .bigger-font {
    text-align: justify;
}
.objective a {
    margin: 0.5em;
    padding: 0.8em;
    font-size: 1.3em;
    font-weight: 500;
    color: #005066;
    border: medium solid #005066;
}

.face-container {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    border: 10px solid white;
}

#face-image {
    max-width: 100%;
    height: auto;
}

@media (max-width: 912px) {
    main {
        width: 100%;
    }
    .image-text {
        width: 50%;
        left: 5%;
    }
    .image-text h1{
        font-size: 5vw;
    }
    .image-text p{
        font-size: 3vw;
    }
    .image-text a {
        font-size: 2vw;
    }
}

.inner-container:hover {
    transform: scale(1.15);
}
.button:hover {
    background-color: #005066;
    border-color: #005066;
    color: white;
}
.button:active {
    transform: translateY(4px);
}