.entrada-linha {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2em 0 2em 0;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.data-entrada {
    width: 10%;
    min-width: 5em;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    color: #005066;
    font-weight: bold;
    font-size: 1.2em;
}
.texto-entrada {
    margin-left: 2em;
    margin-right: 2em;
    text-align: justify;
}
.texto-entrada h1 {
    color: #005066;
    margin: 0;
}