html, h1, h3 {
    margin: 0;
    padding: 0;
}
main {
    min-height: 600px;
}
main > section {
    max-width: 800px;
    margin: 5rem auto 2rem auto;
    padding: 1rem;
}

.container-titulo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-titulo > h1 {
    font-size: 5rem;
    color: #00303d;
    user-select: none;
}

#sem-mensagens > p {
    text-align: center;
}
#btnExcluir {
    height: auto;
    text-align: center;
    align-self: flex-end;
    padding: 0.5rem;
    background-color: transparent;
    color: red;
    font-weight: 600;
    border: medium solid red;
    border-radius: 50px;
    cursor: pointer;
    /* Desabilitar selecao de texto */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#btnExcluir:hover {
    background-color: red;
    color: white;
}
#btnExcluir:active {
    transform: translateY(2px);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.inner-container {
    width: 100%;
    text-align: start;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.inner-container > h3 {
    color: #005066;
}
.inner-container > p {
    color: #00708f;
}

@media (max-width: 768px) {
    .container-titulo > h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
    }
}